# Name of the server
#
variable "server_name" {
  default =  "calibre-server"
  description = "Name of the server"
  type = string
}
# Hetzner API token
# https://docs.hetzner.com/cloud/api/getting-started/generating-api-token/
variable "hcloud_token" {
  sensitive = true
  description = "Hetzner Cloud API token"
  type = string
}
# Location to put the server in 
# In this repo this is not used and is commented out in the
# server.tf file
# https://docs.hetzner.com/cloud/general/locations
variable "location" {
  default = "nbg1"
}

# Datacenter to put the server in https://docs.hetzner.cloud/#datacenters
variable "datacenter" {
  type = string
  default = "nbg1-dc3"
}
# Type of server
# types can be found on the pricing page
# https://www.hetzner.com/cloud/#pricing
variable "server_type" {
  default = "cax11"
}

# OS type
# No direct doc for OS images, only and API endpoint
# https://docs.hetzner.cloud/#isos
variable "os_type" {
  default = "rocky-9"
}
# Disk size
variable "disk_size" {
  default = "40"
} 

# variables.tf
variable "ssh_public_key_path" {
  description = "Path to SSH public key file relative to repo root"
  type        = string
  default     = "ssh_keys/id_rsa.pub"
  
  validation {
    condition     = can(file("${path.module}/${var.ssh_public_key_path}"))
    error_message = "SSH public key file must exist in the specified path."
  }
}

resource "hcloud_firewall" "calibre_firewall" {
  name = "calibre-firewall"
  rule {
    direction = "in"
    protocol  = "tcp"
    source_ips = [
      "0.0.0.0/0",
      "::/0"
    ]
   port       = "22"
  }
}

